<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node Express ES6 Starter</title>
    <link rel="stylesheet" href="css/app.css" media="screen" title="no title">
  </head>
  <body>
    <div class="container">
      <h1>Node Express ES6 Starter</h1>
      <h2>Using Twig.js Templating</h2>

      <h4>Developed By: {{ firstName }} {{ lastName }}</h4>
      <img src="images/node.svg" alt="" />
    </div>
  </body>

  <footer>
    <p class="center">
      Powered by Node, Express and Twig Templating <br />&copy; 2016-2017 <a href="http://codedungeon.org" target="_blank">Codedungeon</a>
    </p>
  </footer>
</html>
